.top {
    display: flex;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 2em;
}

.hidden{
    display: none;
}

.loginBtn {
    background-color: var(--btn-color);
    color: white;
    border-radius: 3px;
    padding: 5px 20px 5px 20px;
    border: 1px solid rgb(50, 104, 145);
    font-family: var(--ff-secondary);
    font-weight: var(--fw-bold);
    cursor: pointer;
}

.loginBtn:hover{
    background-color: rgb(50, 104, 145);
}

.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    padding-top: 1em;
}

.titleLogo {
    width: 50vw;
    height: auto;
    max-width: 600px;
    min-width: 300px;
}

.menuIcon{
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    cursor: pointer;
    font-size: 25px;
}

.burgerNavbar{
    display: block;
}

@media (min-width: 1024px) {
    .menuIcon{
        display: none;
    }
  }